
.input_box{
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    background-color: rgb(248, 242, 233);

}

.labels{

    font-size: 20px;
    font-weight: bold;
    
}

.submit_btn{
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 12px;
    width: 50%;
    font-weight: 600;  
    
    
}
